.single-quiz {
  overflow: hidden;
  padding: 15px;
  border: 1px solid #37bd62;
  margin-bottom: 15px;
  transition: .3s;
}
.single-quiz:last-child {
  margin-bottom: 0;
}
.single-quiz:hover{
  box-shadow: 0px 0px 5px rgb(55, 189, 98);
}

